body {
    
    background-color: rgb(0, 0, 0);
    position: relative;
}
#start {
    display: block;
    width: 630px;
    height: 660px;
    background-image: url(../assets/images/StartScreen.png);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#start button {
    background-image: url(../assets/images/start-button.png);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    height: 250px;
    width: 250px;
    border: none;
    position: absolute;
    top: 350px;
    left: 30px;
    right: 0;
    margin: auto;
}
#game-over {
    display: none;
    width: 630px;
    height: 660px;
    background-image: url(../assets/images/gameOver2.png);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#boton:hover{
    cursor: pointer;
    opacity:1
}

#game-over button {
    background-image: url(../assets/images/try-again-button.png);
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
    background-size: 150px;
    background-repeat: no-repeat;
    height: 55px;
    width: 150px;
    border: none;
    position: absolute;
    top: 350px;
    left: 30px;
    right: 0;
    margin: auto;
}


#win {
    display: none;
    width: 630px;
    height: 660px;
    background-image: url(../assets/images/winScreen-01.png);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#win button {
    background-image: url(../assets/images/restart-button.png);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    height: 55px;
    width: 150px;
    border: none;
    position: absolute;
    top: 350px;
    left: 30px;
    right: 0;
    margin: auto;
}


#scenary {
    background-image: url(../assets/images/map.png);
    background-position: center;
    background-size: 620px 620px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
td {
    width: 30px;
    height:30px;
}

.boundary {
    background-image: url(../assets/images/Boundary.png);
    background-size: auto 30px ;
    background-repeat: no-repeat;
}

.corner{
    background-image: url(../assets/images/corner.png);
    background-size: auto 30px ;
    background-repeat: no-repeat;
    
}
.bomb {
    background-image: url(../assets/images/bombagif.gif);
    background-size: auto 30px;
    background-repeat: no-repeat;
}
.player {
    background-image: url(../assets/images/bomberman.png);
    background-size: auto 30px;
    background-repeat: no-repeat;
}

.rock { 
    background-image: url(../assets/images/SolidBlock.png);
    background-size: 30px 30px;
}
.goal {

    background-image: url(../assets/images/exitDoor.png);
    background-size: 30px 30px ;
    background-repeat: no-repeat;
}
.obstacle {
    background-image: url(../assets/images/SoftBlock.png);
    background-size: 30px 30px;
    
}
.enemy {
    background-image: url(../assets/images/enemy.png);
    background-size: auto 30px;
    background-repeat: no-repeat;
    }

.header {
    display: flex;
    height: 30px;
    justify-content: center;
    background-color: rgb(0, 0, 0);

}
#hearts{
    display: flex;
    width: 90px;  
}
#heart1, #heart2, #heart3{
    background-image:url(../assets/images/lifeshearts.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 50px;
    visibility: visible;
}

